<h1>New translation</h1>

<% form_for(@translation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :word_a_id %><br />
    <%= f.text_field :word_a_id %>
  </p>
  <p>
    <%= f.label :word_b_id %><br />
    <%= f.text_field :word_b_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', translations_path %>