<h1>Editing chinese_word</h1>

<% form_for(@chinese_word) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :traditional %><br />
    <%= f.text_field :traditional %>
  </p>
  <p>
    <%= f.label :simplified %><br />
    <%= f.text_field :simplified %>
  </p>
  <p>
    <%= f.label :pinyin %><br />
    <%= f.text_field :pinyin %>
  </p>
  <p>
    <%= f.label :english1 %><br />
    <%= f.text_field :english1 %>
  </p>
  <p>
    <%= f.label :english2 %><br />
    <%= f.text_field :english2 %>
  </p>
  <p>
    <%= f.label :english3 %><br />
    <%= f.text_field :english3 %>
  </p>
  <p>
    <%= f.label :english4 %><br />
    <%= f.text_field :english4 %>
  </p>
  <p>
    <%= f.label :english5 %><br />
    <%= f.text_field :english5 %>
  </p>
  <p>
    <%= f.label :english6 %><br />
    <%= f.text_field :english6 %>
  </p>
  <p>
    <%= f.label :english7 %><br />
    <%= f.text_field :english7 %>
  </p>
  <p>
    <%= f.label :english8 %><br />
    <%= f.text_field :english8 %>
  </p>
  <p>
    <%= f.label :english9 %><br />
    <%= f.text_field :english9 %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @chinese_word %> |
<%= link_to 'Back', chinese_words_path %>