<h1>New chinese_word</h1>

<% form_for(@chinese_word) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :traditional %><br />
    <%= f.text_field :traditional %>
  </p>
  <p>
    <%= f.label :simplified %><br />
    <%= f.text_field :simplified %>
  </p>
  <p>
    <%= f.label :pinyin %><br />
    <%= f.text_field :pinyin %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', chinese_words_path %>
