<p>
  <b>Traditional:</b>
  <span class="ch_huge"><%=h @chinese_word.traditional %></span>
</p>

<p>
  <b>Simplified:</b>
  <span class="ch_huge"><%=h @chinese_word.simplified %></span>
</p>

<p>
  <b>Pinyin:</b>
  <%=h @chinese_word.pinyin %>
</p>

<% @chinese_word.english_definition.each do |edef| %>
<p>
  <b>English:</b>
  <%=h edef.definition %>
</p>
<% end %>

<%= link_to 'Edit', edit_chinese_word_path(@chinese_word) %> |
<%= link_to 'Back', chinese_words_path %>
